:root{
    --color-primary: #0084ff;
    --font-abril: 'Abril Fatface', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

p {
    font-family: 'Open Sans', sans-serif;
}

/*Smartphones mais antigos*/
@media screen and (min-width: 320px){
    .mss-page-wrapper, .mss-preloader{
        width: 100%;
        height: 100vh;
        display: block;
        background-color: #1c1c1c;
        border: 30px solid #000;  
    }

    .mss-preloader{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
    }

    .mss-preloader-inner {
        margin-top: -45px;
    }

    .mss-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;

    }
    .mss-logo{
        width: 80px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color: var(--color-primary);
        border-radius: 0 0 37px 0;
    }

    .mss-logo img{
        width: 60px;
        height: 45px;
        display: block;
        margin: 40px auto 0 auto;
    }
    .mss-menu{
        display: none;
    }

    .mss-btn-contact{
        width: 45px;
        height: 45px;
        display: block;
        background-color: var(--color-primary);
        background-image: url('/img/icon-contact-close.svg');
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right:45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
        border: none;
        cursor: pointer;
    }

  
    .mss-contact-info{
        width: auto;
        height: 175px;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
        display: none;
        
    }
    .mss-contact-info-inner{
        display: table;
        width: 100%;
        float: right;
    }

    .mss-contact-info-inner p{
        font-size: 18px;
        line-height: 24px;
    
    }
    .mss-social-links{
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -11px;
        margin-top: 6px;
    }

    .mss-social{
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .mss-social > img{
        width: 20px;
        height: auto;
        display: block;
        margin: 13px auto 0;
    }
    
    .mss-corner{
        width: 45px;
        height: 95px;
        display: block;
        float: right;
        position: relative;
    }

    .mss-corner:after{
        content:'';
        width: 25px;
        height: 45px;
        display: block;
        position: absolute;
        bottom: -25px;
        right: 0;
        background: transparent url("/img/corner.svg") no-repeat;
    }

}

/*Baseado pelos  breakpoints bootstrap*/
@media screen and (min-width: 576px){
    
}

@media screen and (min-width: 768px){
    .mss-menu{
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
    }
    .mss-menu a{
        font-family: 'Open Sans';
        font-size: 16px;
        color: #bcbcbc;
        display: inline-block;
        margin: 50px 20px 0 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        position: relative;
    }

    .mss-menu a:first-child{
        margin-left: 0;
    }

    .mss-menu a:hover{
        color: var(--color-primary);
    }

    .mss-menu a:before{
        content: '';
        width: 0;
        height: 4px;
        background-color: var(--color-primary);
        display: block;
        position: absolute;
        bottom: -4px;
        transition: all 0.2s ease-out;
    }
    .mss-menu a:hover:before{
        width: 105%;
    
    }
}


@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){
    
}

/*Notbook 15*/
@media screen and (min-width: 1364px){
    
}

/*Fullhd*/
@media screen and (min-width: 1600px){
    
}

/*CLASSES UTILITARIAS*/

.mss-title{
    font-family: var(--font-abril);
    font-weight: normal;
}

.mss-text-blue{
    color: var(--color-primary);
}

.mss-text-dark{
    color: #4d4c4c;
}

.mss-text-light{
    color: #bcbcbc;
}

.mss-text-black{
    color: #000;
}


.mss-bg-dark{
    background-color: #4d4c4c;
}

.mss-bg-light{
    background-color: #bcbcbc;
}

.mss-bg-black{
    background-color: #000;
}
/*margin*/

.mss-mar-15{
    margin: 15px;
}
.mss-mar-top-15{
    margin-top: 15px;
}
.mss-mar-right-15{
    margin-right: 15px;
}
.mss-mar-bottom-15{
    margin-bottom: 15px;
}
.mss-mar-left-15{
    margin-left: 15px;
}

/*padding*/
.mss-pad-15{
    padding: 15px;
}
.mss-pad-top-15{
    padding-top: 15px;
}
.mss-pad-right-15{
    padding-right: 15px;
}
.mss-pad-bottom-15{
    padding-bottom: 15px;
}
.mss-pad-left-15{
    padding-left: 15px;
}


/*CLASSES DE ESTADO*/
.mss-is-open{
    display: block;
}

.mss-change-icon{
    background-position-y: -45px;
}

.mss-fade-out{
    animation: fadeOut 4s forwards ease-out;
}